<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-slides  [options]="sliderOpts" width="50%" height="50%">
    <ion-slide *ngFor="let img of images">
        <!-- <ion-img [src]="img" width="50" height="50"></ion-img> -->
      <img [src]="img" width="50%" height="50%" tappable>
    </ion-slide>
  </ion-slides>
 
  <div  color="primary">
      <form  #form="ngForm" (ngSubmit)="register(form)">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div text-center>
                <h3>Create your account!</h3>
              </div>
              <div padding>
                <ion-item>
                  <ion-input  name="name" type="text" placeholder="Name" ngModel required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input name="confirm" type="password" placeholder="Password again" ngModel required></ion-input>
                </ion-item>
              </div>
              <div padding>
                <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
  </div>
</ion-content>

