ion-slides {
    //margin-top: 30%;
    background: #e6e6e6;
    //background-size: cover
 
    img {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 5px;
        padding-right: 5px;
        // max-width: 100%;
        // max-height: 100%;
        object-fit: contain;
    }
}

