<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4" *ngFor="let image of [1,2,3,4,5,6,7,8,9]">
        <div class="img-wrapper" [style.background-image]="'url(assets/images/child_img.jpg)'" (click)="showImg(image)">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>