.active {
    --ion-text-color: var(--ion-color-danger);
 
    ion-icon {
        --ion-text-color-rgb: var(--ion-color-danger);
    }
}
 
.parent-active {
    font-weight: 500;
}
 
.sub-item {
    padding-left: 20px;
    font-size: small;
}


ion-toolbar {
    text-align: center;
}