ion-item{
    //--background: #3880ff;
    --color: rgb(122, 62, 62);

}
ion-button{
        --background: #FF2E61;
        // padding: 0;
        // margin-top: 10px;
        // background-color: var(--base_color);
        // border: 0;
        // font-size: 15px;
        // font-weight: 500;
        // color: #fff;
        // text-shadow: 1px 1px 3px rgba(0,0,0,.3);
        // cursor: pointer;
        // transition: var(--transition);
}


a{
    color: #fff;
}