<ion-header>
  <ion-toolbar color="danger">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="+91 10 digit mobile number" ngModel required>
              </ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="medium" type="submit" expand="block">Login/SignUp</ion-button>
          </div>
          <div style="text-align: center;" padding>
            <h6>Length of password should be at least 6 characters</h6>
          </div>
          <div style="text-align: center;" padding>
              OR
          </div>

          <div style="text-align: center;" padding>
              CONTINUE WITH
          </div>

        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <div >
            <ion-button color="primary" size="medium" type="submit" expand="block">Continue with Facebook</ion-button>
          </div>
        </ion-col>
        <div style="text-align: center;" padding>
            <h6>Length of password should be at least 6 characters</h6>
        </div>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>